/**
 * App Header file settings
 */

.app-header {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: $blue-4;
  border-bottom: 2px solid $blue-5;

  .app-header--logo {
    float: left;
    width: 18px;
    height: 15px;
    margin: 14px 16px 0 0;
    background: url(../images/logo.png) no-repeat center center;
  }

  .app-header--title {
    display: inline-block;
    margin: 15px 0 0 0;
    font: normal 1em Helvetica;
    color: white;
  }
}
