/**
 * App Header file settings
 */

.app-header {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: $blue-4;
  border-bottom: 2px solid $blue-5;

  .app-header--logo {
    float: left;
    width: 200px;
    height: 32px;
    margin: 4px 16px 0 0;
    background: url(../images/logo-main.svg) no-repeat center center;
  }

}
