.button {
  color: white;
  text-decoration: none;
  font: normal .9em Helvetica;
  background: #4A90E2;
  border-radius: 4px;

  &.button-more { padding: .5em .6em; }
}

.button-list {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(0,0,0,0.2);

  .button-list--item {
    float: left;
    width: calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: hover .6s ease-out;
    -webkit-transition: hover .6s ease-out;
    -moz-transition: hover .6s ease-out;

    &:hover {  background: #4A90E2; }

    .button-list--item__icon { margin: 7px auto; }

    .button-list--item__desc {
      display: block;
      margin: -6px 0 0 0;
      font: normal .7em Helvetica;
    }
  }
}
