  .card {
    float: left;
    position: relative;
    width: 180px;
    height: 250px;
    padding: 0;
    margin: 0 40px 20px 0;
    color: white;
    background: $blue-4;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);

    .card-image {
      display: block;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .card-notation {
      position: absolute;
      top: 20px;
      right: 0;
      background: $blue-3;
      padding: .3em .6em;
      font: normal .65em Helvetica;
    }

    .card-notation--icon {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 2px 0 0 5px;
      background: url(../images/star2.png) no-repeat center center;
    }

    .card-title {
      display: block;
      margin: 12px 0 0px 12px;
      font-size:.8em;
    }

    .card-metadata {
      display: block;
      margin: 5px 0 0 12px;
      font: normal .6em $base_typography;

    }

    .card-desc {
      padding: 16px;
      font: normal .6em Helvetica;
      line-height: 1.5em;
    }

    .card-footer {
      margin: 13px 0 0 0;
    }
  }
