.icon { display: inline-block; }

.icon-comment {
  width: 12px;
  height: 9px;
  background: url(../images/comments.png) no-repeat center center;
}

.icon-star {
  width: 12px;
  height: 12px;
  background: url(../images/star-btn.png) no-repeat center center;
}

.icon-like {
  width: 12px;
  height: 11px;
  background: url(../images/like.png) no-repeat center center;
}
