.icon { display: inline-block; }

.icon-comment {
  width: 19px;
  height: 16px;
  background: url(../images/comments.png) no-repeat center center;
}

.icon-star {
  width: 18px;
  height: 16px;
  background: url(../images/star-btn.png) no-repeat center center;
}

.icon-like {
  width: 18px;
  height: 17px;
  background: url(../images/like.png) no-repeat center center;
}
