/*====================================================*
 *
 *===================================================*/

$blue-1: #425368;
$blue-2: #364B64;
$blue-4: #101A25;

// Sizes
$header-h: 60px;
$footer-h: 50px;
