/*====================================================*
 *
 *===================================================*/

$blue-1: #4A90E2;
$blue-2: #212B37;
$blue-3: #101A25;
$blue-4: #0E141B;
$blue-5: #0C0F14;

// Typography
$base_typography: Helvetica, Arial, Verdana, sans-serif;
$label-typography: Arial;
